
<div class="table-responsive margin_top">
    <div id="tableSimple" class="col-lg-12 col-12 layout-spacing">
        <div class="statbox widget box box-shadow">
            <div class="widget-header">
            <div class="row">
                <div class="col-xl-8 col-md-8 col-sm-8 col-8">
                <h4 class="margin_spacing">Edit Room</h4>
                </div>
                <div class="col-xl-4 col-md-4 col-sm-4 col-4">
                <div class="text-center">
                    
                </div>
                </div>
            </div>
            </div>
            <div class="widget-content widget-content-area">
            <div class="table-responsive">
                <form #roomEditForm = "ngForm" (ngSubmit) = "onSubmit(roomEditForm)">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group mb-4">
                                <label for="">Room Type <span class="requireddot">*</span></label>
                                <input name='room_type' [(ngModel)]="this.room_type"  type="text" class="form-control"  placeholder="Room Type">
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12"></div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group mb-4">
                                <label for="">Check-in  <span class="requireddot">*</span></label>
                                <input name='check_in' [(ngModel)]="this.check_in" type="date" class="form-control"  placeholder="Check-in">
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12"></div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group mb-4">
                                <label for="">Check-out <span class="requireddot">*</span></label>
                                <input name='check_out'  [(ngModel)]="this.check_out" type="date"  class="form-control"  placeholder="Check-out">
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12"></div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group mb-4">
                                <label for="">Status <span class="requireddot">*</span></label>
                                
                                <select name="status" class="form-control" [(ngModel)]="this.status" type="text">
                                    <option value="Reserved">Reserved</option>
                                    <option value="Unreserved">Unreserved</option>
                                </select>
                            </div>
                        </div>

                    </div>
                   
                
                    <button type="submit" class="btn btn-primary mb-4 mr-2">Update</button>
                    <button (click)="cancelform()" type="button" class="btn btn-danger mb-4 mr-2">Cancel</button>
                </form>
            </div>


            </div>
        </div>
    </div>
</div>

